
.footer-container{
  text-align: center;
  position: absolute;
  bottom:0;
  width:100%;
  padding-top: 15px;
}
.category{
margin-left: 20px;
}
.navbar{
  justify-content: flex-start !important;
}
.navbar a{
  color:white !important;
}
.form-inline{
margin-right: 2px;
}
.addBookTitle{
  text-align: center;
}
.addBookContainer input,select{
  margin-top: 10px;

}
.message{
  color:red;
  font-size: 15px;
  margin-top: 10px;
}
.greetingContainer{
  color:white;
  display:flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Comfortaa', cursive !important;
}
.addBookContainer{
    margin-left:20px;
}
.login100-pic{
  margin-bottom: 100px;
}
.card{
  width: 15rem;
  margin: 20px;
  transform: scale(0.8);
}
.maindiv{
  width:100%;
  display:flex;
  flex-wrap: wrap;

  margin-right:20px;
  margin-top: -50px;
}

.card-text{
  text-align: center !important;
}
.btn-div{
  display:flex;
  justify-content: space-around;
  margin-bottom: 0px !important;
    position:  absolute;
    bottom: 10px;
}
.buttons{
  margin-right: 70px;
  padding-top: 10px;
}
.addButton{
  margin-left: 45px;
}
.car-title{

  font-size: 20px;
}
.containerfooter{

  margin-top:5%;
  width:100%;
  text-align: center;
  background-color:rgb(38, 51, 64);
  color:white;
  padding-top:5px;
  position:absolute;
  bottom:0;
}
.card-img-top{
  height:50%;
}
